.hero-stat-list,
.opponent-stat-list {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}

.final-header {
  text-align: center;
  font-size: 40px;
}
.again-btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}
