.header {
  padding-top: 15px;
  padding-bottom: 15px;
  // background-color: #132b42;
  background-image: linear-gradient(90deg, rgba(3, 46, 88, 0.4) 0%, rgba(49, 2, 2, 0.4) 100%);
  width: 100%;
  display: flex;
  justify-content: center;

  .input {
    background-color: rgba(124, 123, 123, 0.6);
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #e0ecf7;
  }
}
