/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './reset.scss';
@import './container.scss';
@import './header.scss';
@import './choose-hero.scss';
@import './choose-opponent.scss';
@import './start-section.scss';
@import './fight-section.scss';

body {
  background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)),
    url(../images/19681.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: inherit;

  color: #e0ecf7;
}
